.curiosity {
  background: linear-gradient(to left, rgb(69, 123, 204), rgb(26, 82, 202));
  padding-bottom: 80px;
}
.curiosity-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.curiosity-info h1 {
  color: var(--yellow-color);
  font-size: 50px;
}
.curiosity-info p {
  color: var(--text-color);
  font-size: 19px;
}
.curiosity-container svg {
  max-width: 300px;
}
.curiosity-container img svg {
  fill: var(--yellow-color);
}
@media (max-width: 991px) {
  .curiosity-container svg {
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .curiosity-container {
    flex-direction: column;
  }
}
