footer {
  background-color: rgb(90, 139, 243);
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0px -10px 15px 1px rgba(0, 0, 0, 0.068);
}

footer h2 {
  color: #fff;
  margin-bottom: 10px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-content a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 5px;
  &:hover,
  &:hover svg path {
    color: var(--yellow-color);
    fill: var(--yellow-color);
  }
}

.footer-content a svg {
  width: 20px;
}
@media (max-width: 520px) {
  footer .container {
    flex-direction: column;
  }

  footer .container h2 {
    font-size: 35px;
  }

  footer .container a {
    font-size: 19px;
  }
}
